@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-slate-950 text-slate-50 antialiased;
    }
}

@layer components {
    .btn-primary {
        @apply px-4 py-2 rounded-lg bg-blue-600 hover:bg-blue-700 text-white font-medium transition-colors;
    }
}